// validations input
input {
  &.in-valid {
    border-color: #dc3545 !important;
  }
  &.is-valid {
    border-color: #28a745 !important;
  }
}

.invalid-feedback {
  font-size: 0.9rem;
  text-align: right;
}

// estilos del pensum
.item-subject {
  margin: 5px 0px 25px;
  width: 100%;
  height: 170px;
  font-size: 0.75rem;
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
  &.aprobada {
    background-color: #00d200;
    color: white;
  }
  &.inscribir {
    background-color: #efef4a;
  }
  &.reprobada {
    color: white;
    background-color: red;
  }
  &.cursando {
    color: white;
    background-color: blue;
  }
  main {
    font-weight: bold;
    min-height: calc(170px - 46px);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  article,
  header {
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    > div:first-child {
      border-right: 1px solid black;
    }
  }
}

.table.asesoria {
  thead tr th {
    color: white;
    background-color: #2e3c4e;
  }
}

.page-header.close_icon {
  margin-left: 60px !important;
  width: calc(100% - 60px) !important;
}

table.table-note , table.table-note td, table.table-note th {
	border: 1px solid #595959;
	border-collapse: collapse;
  td, th {
    padding: 3px;
    width: 30px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
  }

  thead td {
    background: #2f3c4e !important;
    color: white;
    font-weight: bold;
    border-color: white;
    border-width: 0.15px;
    font-size: 0.65rem;
  }
  .even {
    background: #fbf8f0;
  }
  .odd {
    background: #fefcf9;
  }
}

